In [1]:
import pandas as pd

# Creating a dataset with student details
data = {
    'Roll Number': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Name': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'],
    'Gender': ['F', 'M', 'M', 'M', 'F', 'M', 'F', 'F', 'F', 'M'],
    'Marks1': [85, 78, 92, 88, 76, 95, 89, 84, 91, 77],
    'Marks2': [80, 82, 85, 90, 79, 88, 92, 81, 87, 83],
    'Marks3': [78, 85, 88, 92, 80, 90, 86, 89, 84, 82]
}
df = pd.DataFrame(data)

print(df)

   Roll Number Name Gender  Marks1  Marks2  Marks3
0            1    A      F      85      80      78
1            2    B      M      78      82      85
2            3    C      M      92      85      88
3            4    D      M      88      90      92
4            5    E      F      76      79      80
5            6    F      M      95      88      90
6            7    G      F      89      92      86
7            8    H      F      84      81      89
8            9    I      F      91      87      84
9           10    J      M      77      83      82

In [9]:
df["Total marks"]=df['Marks1']+df['Marks2']+df['Marks3']

In [11]:
print(df)

   Roll Number Name Gender  Marks1  Marks2  Marks3  Total marks
0            1    A      F      85      80      78          243
1            2    B      M      78      82      85          245
2            3    C      M      92      85      88          265
3            4    D      M      88      90      92          270
4            5    E      F      76      79      80          235
5            6    F      M      95      88      90          273
6            7    G      F      89      92      86          267
7            8    H      F      84      81      89          254
8            9    I      F      91      87      84          262
9           10    J      M      77      83      82          242

In [25]:
lowest_marks2=df['Marks1'].min()
print(f"lowest marks among Marks1 : {lowest_marks2}")

lowest marks among Marks1 : 76

In [27]:
highest_marks2=df['Marks2'].max()
print(f"lowest marks among Marks1 : {highest_marks2}")

lowest marks among Marks1 : 92

In [29]:
avg_marks3=df['Marks3'].mean()
print(f"avg marks among : {avg_marks3}")

avg marks among : 85.4

In [33]:
#printing the name of student with highest average
df['Average Marks'] = df[['Marks1', 'Marks2', 'Marks3']].mean(axis=1)
highest_avg_student = df.loc[df['Average Marks'].idxmax()]
print(f"The student with the highest average marks is: {highest_avg_student['Name']} with an average of {highest_avg_student['Average Marks']:.2f}")

The student with the highest average marks is: F with an average of 91.00

In [35]:
#pass marks is 40 (given)
failed_students = (df['Marks2'] < 40).sum()
print(f"The number of students who failed in Marks2 is: {failed_students}")

The number of students who failed in Marks2 is: 0